* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

html {
    box-sizing: border-box;
}

.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header,
.first-section,
.second-section,
.third-section,
.fourth-section,
footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

header,
.first-section,
footer {
    background-color: #1F2937;
}

.second-section,
.fourth-section {
    background-color: white;
}

.third-section {
    background-color: #E5E7EB;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 20px;
    max-width: 1100px;
}

.header-logo-container {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links-container {
    display: flex;
    gap: 20px;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.part-one {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1100px;
    flex-grow: 1;
}

.part-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 1100px;
    flex-grow: 1;
}

.part-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 830px;
    flex-grow: 1;
}

.part-four {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #3882F6;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    width: 100%;
    font-style: italic;
    color: #1F2937;
}

.author {
    color: black;
    font-weight: bold;
    margin-left: auto;
}

.part-one-left-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 410px;
}

.awesome-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.awesome-description {
    color: #F9FAF8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.part-one-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    color: #F9FAF8;
    background-color: rgb(98, 103, 116);
}

.part-two-top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    white-space: nowrap;
}

.part-two-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-and-text {
    width: 150px;
    margin-right: 60px;
}

.square-shape {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.square-text {
    text-align: center;
    color: rgb(99, 99, 99);
}

.part-four-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
}

.call-to-action {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.sign-up-for-our {
    color: white;
}

.sign-up-transparent {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 8px;
    cursor: pointer;
}
